.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  display: flex;
  justify-content: center;
}

.search-form{
  min-height: 10vh;
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 20px;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: lightblue;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 80vw; */
}

/* .container{
  max-width: 400px;
} */